html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #f4f9ff 0%, #e0f7fa 25%, #f4f9ff 50%, #e0f7fa 75%, #f4f9ff 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    /* 添加 flex-direction: column; 让子元素垂直排列 */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px; 
}

p {
    color: #268ea0; 
    font-size: 100px; 
    text-align: center;
    max-width: 100%; 
    /* 修改字体为楷体，同时提供备用字体 */
    font-family: "楷体", "KaiTi", serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* 在 styles.css 中添加以下代码 */
img {
    max-width: 100%; /* 确保图片宽度不超过父元素宽度 */
    height: auto; /* 保持图片的宽高比 */
    display: block; /* 将图片转换为块级元素，方便居中 */
    margin: 20px auto; /* 上下边距为 20px，左右自动居中 */
    border: 1px solid #ccc; /* 添加 1px 宽的灰色边框 */
    border-radius: 5px; /* 设置图片边框圆角 */
}
